DATABASE_URL="postgresql://neondb_owner:npg_OkEBFKGD9t4q@ep-polished-glitter-aizvrk0w-pooler.c-4.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
JWT_SECRET="your-super-secret-jwt-key-change-in-production-min-32-chars"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
